{% macro render_endpoints(endpoints) %}
   <table>
      <thead>
      <tr>
         <th>Endpoint</th>
         <th>URL</th>
         <th>Methods</th>
      </tr>
      </thead>
      <tbody>
      {% for endpoint, rules in endpoints.iteritems() %}
         <tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }}">
            <td>{{ endpoint }}</td>
            <td>
               {% for rule in rules %}
                  {% if not loop.first %}
                     <br/>
                  {% endif %}
                  {{ rule.rule }}
               {% endfor %}
            </td>
            <td>
               {% for rule in rules %}
                  {% if not loop.first %}
                     <br/>
                  {% endif %}
                  {{ ', '.join(rule.methods) }}
               {% endfor %}
            </td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
{% endmacro %}

{% if raw_endpoints %}
   {{ render_endpoints(raw_endpoints) }}
{% endif %}

{% for name, endpoints in blueprints.iteritems() %}
   <h4>{{ name }}</h4>
   {{ render_endpoints(endpoints) }}
{% endfor %}
